html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--bg-color, #000);
	color: var(--text-color, #fff);
	font-family: var(--font-main, monospace);
	font-size: 16px;
	line-height: 1.3;
}

#cmd-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	cursor: text;
}

#cmd-output {
	flex-grow: 1;
	overflow-y: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
}

#cmd-output p {
	margin: 0;
}

#cmd-input-line {
	display: flex;
	width: 100%;
	line-height: inherit;
	margin-top: auto;
}

#cmd-prompt {
	line-height: inherit;
	margin-right: 5px;
	white-space: nowrap;
}

#cmd-input {
	flex-grow: 1;
	background-color: transparent;
	color: var(--text-color, #fff);
	font-family: var(--font-main, monospace);
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: inherit;
	height: auto;
	caret-color: var(--text-color, #fff);
}